.header{
    font-family: 'Grandstander';
    font-size: 2em;
    background: rgba(0, 0, 0, 0.607);
    color: white;
    padding: 0.5em;
    text-align: center;

}


.fecha {
    text-align: center;
    font-family: 'Grandstander';
    font-size: 1.2em;
    color:white;
    text-shadow: 1px 1px 5px black;
    
}


body {
    margin: 0;
    background-size: 100%;
    background-repeat: repeat-y;
}

.fecha input{
    height:1.5em;
    width: 3em;
    text-align: center;
    font-family:'Patrick Hand';
    font-size: 1.2em;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    border-radius: 5px;

}

.boton1{
    text-align: center;
    font-family: 'Henny Penny';
    font-size: 20px;
 
}

.botonfeo{
    height: 40px;
    width: 100px;
    border-radius: 10px;
    border-color: darkgreen;
    font-family: 'Patrick Hand';
    font-size: 0.8em;
}

.container {
    
    text-align: left;
    font-size: 1.3em;
    font-family: 'Grandstander';
    color:rgb(17, 56, 75);
    margin-left: 20%;
    margin-right: 20%;
    display; flex;
   

}

.item{
    background: rgba(0, 0, 0, 0.507);
    padding: 10px;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px;
    color: white;
    padding: 1.5em;
}
