body {
    margin: 0;
    /*background-image: url(https://harmonia.la/imagen_nota/mantras_meditar.jpg?width=1200&enable=upscale);
    background-size: 100%;
    background-repeat: repeat-y;*/
    font-family: 'Kalam', cursive;
}

.titulo_principal{
    text-align: center;
}

.fecha {
    text-align: center;
}

.fecha input{
    width: 100px;
    text-align: center;
}

.boton1{
    text-align: center;
}

.seccion1 {
    text-align: left;
    margin-left: 5%;
}